[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opkg-utils = {git = "https://github.com/shr-project/opkg-utils.git", editable = true}

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true

[scripts]
post_install = "cp setup_opkg.py opkg-utils/setup.py && cd opkg-utils && pip install -e ."
